<form #form="ngForm"
      (submit)="onSubmit($event, form)"
      *ngIf="data"
>

  <h3>Депозит</h3>

  <div class="row">

    <div class="col-md-6">

      <div class="form-group">
        <label>Получатель депозита</label>
        <select name="client_id"
                class="form-control"
                required
                #client_id="ngModel"
                [(ngModel)]="deposit.client_id"
        >
          <option *ngFor="let client of clients"
                  [value]="client.id"
          >{{ client.first_name + client.surname + client.patronymic }}</option>
        </select>

        <div *ngIf="deposit.client_id.errors?.required"
             class="alert alert-danger"
             role="alert"
        >
          Необходимое поле
        </div>
      </div>

      <div class="form-group">
        <label>Вид депозита</label>
        <select name="deposit_type_id"
                class="form-control"
                required
                #client_id="ngModel"
                [(ngModel)]="deposit.deposit_type_id"
        >
          <option *ngFor="let deposit_type of data.deposit_types"
                  [value]="client.id"
          >{{ deposit_type.name }}</option>
        </select>

        <div *ngIf="deposit.deposit_type_id.errors?.required" class="alert alert-danger"
             role="alert"
        >
          Необходимо ввести имя
        </div>

      </div>

    </div>

  </div>

  <button type="submit"
          class="btn btn-primary"
          [disabled]="!form.valid"
  >{{client.id ? 'Обновить' : 'Создать'}}</button>

</form>
