<nav class="navbar navbar-toggleable-md navbar-light bg-faded">

  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/clients">Клиенты</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/accounts">Счета</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/create-credit">Оформить кредит</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/create-deposit">Оформить депозит</a>
      </li>
    </ul>
  </div>

</nav>

<div class="container">

  <router-outlet></router-outlet>

</div>

