<form #form="ngForm"
      (submit)="onSubmit()"
      *ngIf="data"
>

  <h3>Клиент</h3>

  <div class="row">

    <div class="col-md-6">

      <div class="form-group">
        <label>Фамилия</label>
        <input type="text"
               name="surname"
               class="form-control"
               required
               [pattern]="nameRegExp"
               #surname="ngModel"
               [(ngModel)]="client.surname"
        >

        <div *ngIf="form.submitted && surname.invalid" class="alert alert-danger"
             role="alert"
        >
          Необходимо ввести фамилию
        </div>

        <div *ngIf="form.submitted && surname.invalid" class="alert alert-danger"
             role="alert"
        >
          Кириллицей
        </div>
      </div>

      <div class="form-group">
        <label>Имя</label>
        <input type="text"
               name="first_name"
               class="form-control"
               required
               [pattern]="nameRegExp"
               #first_name="ngModel"
               [(ngModel)]="client.first_name"
        >

        <div *ngIf="form.submitted && first_name.invalid" class="alert alert-danger"
             role="alert"
        >
          Необходимо ввести имя
        </div>

        <div *ngIf="form.submitted && first_name.invalid" class="alert alert-danger"
             role="alert"
        >
          Кириллицей
        </div>
      </div>

      <div class="form-group">
        <label>Отчество</label>
        <input type="text"
               name="patronymic"
               class="form-control"
               required
               [pattern]="nameRegExp"
               #patronymic="ngModel"
               [(ngModel)]="client.patronymic"
        >

        <div *ngIf="form.submitted && patronymic.invalid" class="alert alert-danger"
             role="alert"
        >
          Необходимо ввести отчество
        </div>

        <div *ngIf="form.submitted && patronymic.invalid" class="alert alert-danger"
             role="alert"
        >
          Кириллицей
        </div>
      </div>

      <div class="form-group">
        <label>Дата рождения</label>
        <input type="date"
               name="birth_date"
               class="form-control"
               required
               #birth_date="ngModel"
               [(ngModel)]="client.birth_date"
        >

        <div *ngIf="form.submitted && birth_date.invalid" class="alert alert-danger"
             role="alert"
        >
          Неправильная дата рождения
        </div>
      </div>

      <div class="form-group">
        <label>Серия паспорта</label>
        <input type="text"
               name="passport_series"
               class="form-control"
               required
               #passport_series="ngModel"
               [(ngModel)]="client.passport_series"
        >

        <div *ngIf="form.submitted && passport_series.invalid" class="alert alert-danger"
             role="alert"
        >
          Неправильная серия паспорта
        </div>
      </div>

      <div class="form-group">
        <label>Номер паспорта</label>
        <input type="text"
               name="passport_number"
               class="form-control"
               required
               #passport_number="ngModel"
               [(ngModel)]="client.passport_number"
        >

        <div *ngIf="form.submitted && passport_number.invalid" class="alert alert-danger"
             role="alert"
        >
          Неправильный номер паспорта
        </div>
      </div>

      <div class="form-group">
        <label>Кем выдан паспорт</label>
        <input type="text"
               name="passport_reducer"
               class="form-control"
               required
               #passport_reducer="ngModel"
               [(ngModel)]="client.passport_reducer"
        >
      </div>

      <div class="form-group">
        <label>Когда выдан</label>
        <input type="date"
               name="passport_reducing_date"
               class="form-control"
               required
               #passport_reducing_date="ngModel"
               [(ngModel)]="client.passport_reducing_date"
        >

        <div *ngIf="form.submitted && birth_date.invalid" class="alert alert-danger"
             role="alert"
        >
          Неправильная дата рождения
        </div>
      </div>

      <div class="form-group">
        <label>Идентификационный номер</label>
        <input type="text"
               name="identification_number"
               class="form-control"
               required
               #identification_number="ngModel"
               [(ngModel)]="client.identification_number"
        >
      </div>

      <div class="form-group">
        <label>Место рождения</label>
        <input type="text"
               name="birth_place"
               class="form-control"
               required
               #birth_place="ngModel"
               [(ngModel)]="client.birth_place"
        >
      </div>

      <div class="form-group">
        <label>Фактический город проживания</label>
        <input type="text"
               name="actual_residence_city_id"
               class="form-control"
               required
               #actual_residence_city_id="ngModel"
               [(ngModel)]="client.actual_residence_city_id"
        >
      </div>

      <div class="form-group">
        <label>Фактический адрес проживания</label>
        <input type="text"
               name="actual_address"
               class="form-control"
               required
               #actual_address="ngModel"
               [(ngModel)]="client.actual_address"
        >
      </div>

    </div>

    <div class="col-md-6">

      <div class="form-group">
        <label>Домашний телефон</label>
        <input type="text"
               name="home_tel_phone"
               class="form-control"
               required
               #home_tel_phone="ngModel"
               [(ngModel)]="client.home_tel_phone"
        >
      </div>

      <div class="form-group">
        <label>Мобильный телефон</label>
        <input type="text"
               name="mobile_tel_phone"
               class="form-control"
               required
               #mobile_tel_phone="ngModel"
               [(ngModel)]="client.mobile_tel_phone"
        >
      </div>

      <div class="form-group">
        <label>Электронная почта</label>
        <input type="text"
               name="email"
               class="form-control"
               required
               #email="ngModel"
               [(ngModel)]="client.email"
        >
      </div>

      <div class="form-group">
        <label>Место работы</label>
        <input type="text"
               name="job_place"
               class="form-control"
               required
               #job_place="ngModel"
               [(ngModel)]="client.job_place"
        >
      </div>

      <div class="form-group">
        <label>Должность</label>
        <input type="text"
               name="job_position"
               class="form-control"
               required
               #job_position="ngModel"
               [(ngModel)]="client.job_position"
        >
      </div>

      <div class="form-group">
        <label>Адрес регистрации</label>
        <input type="text"
               name="registration_address"
               class="form-control"
               required
               #registration_address="ngModel"
               [(ngModel)]="client.registration_address"
        >
      </div>

      <div class="form-group">
        <label>Семейное положение</label>
        <select name="marital_status_id"
                class="form-control"
                required
                #marital_status_id="ngModel"
                [(ngModel)]="client.marital_status_id"
        >
          <option *ngFor="let status of data.maritalStatuses"
                  [value]="status.id"
          >{{ status.title }}</option>
        </select>
      </div>

      <div class="form-group">
        <label>Национальность</label>
        <input type="text"
               name="nationality_id"
               class="form-control"
               required
               #nationality_id="ngModel"
               [(ngModel)]="client.nationality_id"
        >
      </div>

      <div class="form-group">
        <label>Инвалидность</label>
        <input type="text"
               name="disability_id"
               class="form-control"
               required
               #disability_id="ngModel"
               [(ngModel)]="client.disability_id"
        >
      </div>

      <div class="form-group">
        <label>Пенсионер</label>
        <input type="text"
               name="pensioner"
               class="form-control"
               #pensioner="ngModel"
               [(ngModel)]="client.pensioner"
        >
      </div>

      <div class="form-group">
        <label>Месячный доход</label>
        <input type="text"
               name="monthly_revenue"
               class="form-control"
               #monthly_revenue="ngModel"
               [(ngModel)]="client.monthly_revenue"
        >
      </div>

    </div>

  </div>

  <button type="submit" class="btn btn-primary">Готово</button>

</form>
